<div class="row">
  <div class="small-12 small-centered medium-7 medium-centered">

    <div class="row">
      <div class="messages">
        <h2><%= @conversation.subject %></h2>

        <% @conversation.receipts_for(current_user).each do |receipt| %>
          <div class="message-block">

            <% message = receipt.message %>
            <h4><%= message.sender.name %></h4>
              says at <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %>
            <p><%= message.body %><p>
          </div>
        <% end  %>
      </div>
      <div class="message-reply">
      <%= form_tag reply_conversation_path(@conversation), method: :post do %>
        <div>
          <%= text_area_tag 'body', nil, class: 'form-control', placeholder: 'Reply here', required: true %>
        </div>

        <%= submit_tag "Send Message" %>
      <% end  %>
    </div>

    </div>
  </div>
</div>
