<div class="row profile-show">
  <div class="small-8 large-8 small-centered columns profile_box">
    <div class="row">
      <div class="small-4 columns">
        <%= image_tag @user.profile_photo.large_profile_picture, class: 'profile-circle' %>
      </div>
      <div class="small-8 columns">

        <h1 class="profile-name"><%= @user.first_name%></h1>
        <div class="small-8 columns">
          <ul class="profile-head">
            <% if @user.is_student? %>
            <li>Student at <%= @user.location %></li>
            <% else %>
            <li>Tutor at <%= @user.location %></li>
            <% end %>
            <li><%= @user.city %> <%= @user.state %> </li>
          </ul>
        </div>
        <div class="small-4 columns">
          <% if @user == current_user %>
            <%= link_to "Edit Profile", edit_user_path, class: 'button' %>
          <% end %>
        </div>
        <p><% if @user != current_user %>
          <%= link_to 'Send message', new_message_path(to: @user.id), class: 'button' %>
        <% end %></p>
      </div>
      <hr>
      <div class="row">
        <div class="small-4 columns profile-body">
        <h5>About me:</h5>
        <p><%= @user.about_me %></p>
        <h5>Languages spoken:</h5>
        <p><%= @user.language %></p>
        <% if @user.is_student? %>
          <h5>Looking for help with:</h5>
          <p><%= @user.subject %></p>
        <% else %>
          <h5>Available to help with:</h5>
          <p><%= @user.subject %></p>
          <% end %>
        </div>
        <div class="small-8 columns profile-body">
          <% if @user == current_user %>
            <aside class="col-md-4">
              <section class="micropost_form">
                <%= render 'shared/micropost_form' %>
              </section>
            </aside>
          <% end %>

          <% if @user.microposts.any? %>

          <ul class="microposts">
            <%= render @microposts %>
          </ul>
          <%= will_paginate @microposts %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
