<div class="row">
  <div class="small-6 large-6 small-centered columns profile_box">
    <div class="row">
      <div class="small-4 columns">

      </div>
      <div class="small-8 columns">

        <h1><%= @user.first_name%> <%=@user.last_name%></h1>
        <% if @user == current_user %>
        <%= link_to "Edit Profile", edit_user_path %>
        <% end %>
        <ul>
          <li><%= @user.email %></li>
          <li><%= @user.city %>, <%= @user.state %>
          <li>Home Library: <%= @user.location %>
        </ul>
      </div>
    </div>
  </div>
</div>
