<div class="row">
  <div class="small-6 large-6 small-centered columns profile_box">
    <div class="row">
      <div class="small-4 columns">

      </div>
      <div class="small-8 columns">

        <h1><%= @user.first_name%> <%=@user.last_name%></h1>
        <% if @user == current_user %>
        <%= link_to "Edit Profile", edit_user_path %>
        <% end %>
        <ul>
          <% if @user.is_student? %>
          <li><%= "Student" %></li>
          <% else %>
          <li><%= "Tutor" %></li>
          <% end %>
          <li>Home Library: <%= @user.location %> </li>
          <li><%= @user.city %>, <%= @user.state %> </li>
          <li><%= @user.email %></li>
        </ul>
        <hr>
      </div>
    </div>
  </div>
</div>
