<div class="row">
  <% if user_signed_in? %>
    <div class="row">
      <div class="small-12 small-centered medium-8 medium centered columns news-feed">
        <aside class="col-md-4">
          <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
          </section>
        </aside>
        <div class="medium-8 columns">
          <h3>Activity Feed</h3>
          <%= render 'shared/feed' %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="single-item">
      <div class="library">
        <%= image_tag('library.jpeg', alt: "slide 2", class: 'home-image') %>
        <h4 class="home-headline">Learn.</h4>
        <h5 class="home-headline">Find tutors at your local library</h5>
      </div>
      <div>
        <%= image_tag('coffee_image.jpeg', alt: "slide 1", class: 'home-image') %>
        <h4 class="home-headline">Teach.</h4>
        <h5 class="home-headline">Share your knowledge with English language learners</h5>
      </div>
      <div>
        <%= image_tag('people.jpeg', alt: "slide 1", class: 'home-image') %>
        <h4 class="home-headline">Connect.</h4>
      </div>
    </div>

  <% end %>
</div>
<script>$('.single-item').on('init', function(slick) {
  console.log('fired!');
}).slick({dots: true, lazyLoad: 'ondemand'});</script>
