<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "LearnLink" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "slick" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Vollkorn">
  </head>

  <body>
    <nav class="top-bar" data-topbar role='navigation'>
      <div class="small-7 columns nav-title">
        <h2><%= link_to 'LearnLink', root_path %></h2>
      </div>
      <div class="small-5 columns nav-links">
        <% if user_signed_in? %>

            <ul class="right">
              <li class="active"><%= link_to 'Your Profile', user_path(current_user) %></li>
              <li class="active"><%= link_to 'People Near You', users_path %></li>
              <li class="active"> <%= link_to 'Conversations', conversations_path(current_user) %>
              <li class="active"><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
            </ul>

        <% else %>
          <section class="top-bar-section right">
            <ul class="right">
              <li class="active"><%= link_to 'Sign In', new_user_session_path %></li>
              <li class="active"><%= link_to 'Sign Up', new_user_registration_path %></li>
            </ul>
          </section>
        <% end %>
      </div>
    </nav>
    <% if user_signed_in? %>
      <div id="footer">
      <%= link_to 'Account Settings', edit_user_registration_path(current_user) %>
      </div>
    <% end %>
    <p class="notice"> <%= notice %> </p>
    <p class="alert">  <%= alert %> </p>
    <%= yield %>

  </body>
</html>
