<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "LearnLink" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Vollkorn">
  </head>

  <body>
    <nav class="top-bar" data-topbar role='navigation'>
      <ul class="title-area">
        <li class="learnlink title">
          <h1><%= link_to 'LearnLink', root_path %></h1>
        </li>
      </ul>
        <% if user_signed_in? %>
        <section class="top-bar-section right">
          <ul class="right">
            <li class="active"><%= link_to 'Your Profile', user_path(current_user) %></li>
            <li class="active"><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
          </ul>
        </section>
        <% else %>
        <section class="top-bar-section right">
          <ul class="right">
            <li class="active"><%= link_to 'Sign In', new_user_session_path %></li>
            <li class="active"><%= link_to 'Sign Up', new_user_registration_path %></li>
          </ul>
        </section>
        <% end %>
    </nav>
    <p class="notice"> <%= notice %> </p>
    <p class="alert">  <%= alert %> </p>
    <%= yield %>

  </body>
</html>
