<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "LearnLink" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Vollkorn">
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        <%= render "nav_signed_in" %>
      <% else %>
        <%= render "nav_sign_up" %>
      <% end  %>
    </nav>
    <p class="notice"> <%= notice %> </p>
    <p class="alert">  <%= alert %> </p>
    <%= yield %>

  </body>
</html>
